{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}{{ obj.title }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="col-md-6">
  <h2>{{ movie.title }}</h2>
	<p>Rating: {{ average }}</p>

	{% for reviewer in reviewers %}
		<p><a href="{% url 'user_detail' reviewer.reviewer_id %}">User: {{ reviewer.reviewer_id }}</a> : {{ reviewer.rating }}</p>
	{% endfor %}
  {% for poster in posters %}
    <p>First Name: {{ poster.first_name }}</p>
    <p>Last Name: {{ poster.last_name }}</p>
    <p>Rating {{ poster.rating }}</p>
    <p>Review: {{ poster.post }}</p>
  {% endfor %}
  </div>
  <div class="col-md-6">
    <form method="post" action="/{{ movie.id }}/">
      {% csrf_token %}
      {{ form | as_bootstrap }}
      <input type="submit" value="submit" class="btn btn-danger">
  </div>
</div>
{% endblock %}
